[submodule "ros_ws/src/ros2_robotiq_gripper"]
	path = ros_ws/src/ros2_robotiq_gripper
	url = https://github.com/PickNikRobotics/ros2_robotiq_gripper.git
[submodule "src/ros2_robotiq_gripper"]
	branch = humble
